<div class="container-fluid body-content3">
     <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4">
        <nav class="navbar navbar-expand-sm bg-transparent navbar-fixed-top">

  <!-- Links -->
  <ul class="navbar-nav" style="float: right; padding: 3%; padding-left: 20%;">
    <li class="nav-item">
      <a asp-controller="Home" asp-action="Index" class="nav-link" title="Home"> <i class="fas fa-home navItem"></i></a>
    </li>
   <li class="nav-item">
        <a asp-controller="Projects" asp-action="Index" class="nav-link" title="Projects"><i class="fas fa-sitemap navItem"></i></a>
          </li>
       <li class="nav-item">
        <a asp-controller="Blog" asp-action="Index" class="nav-link" title="Blog"><i class="fas fa-blog navItem"></i></a>
          </li>
                <li class="nav-item">
        <a asp-controller="Home" asp-action="Contact" class="nav-link" title="Contact"> <i class="fas fa-fax navItem"></i></a>
          </li>
                  <li class="nav-item">
        <a asp-controller="Home" asp-action="Cv" class="nav-link" title="Curriculum Vitae">
           <i class="fas fa-file navItem"></i>
           </a>
          </li>
  </ul>

</nav>
</div>
</div>
<h1 style="margin-left: 10%; margin-top: 3%;padding: 1%; background-color: white; color: #252426; border: 2px solid white;
 width: 40%; opacity: 0.8;"><strong>Daniel Moorhouse - Curriculum Vitae</strong></h1><br/>
 <h2 style="margin-left: 15%;">26th November 1980 - 38 years old</h2>
 <h2 style="text-align: center; background-color: black; opacity: 0.6;  margin-top: 3%;">Profile</h2>
    <div class="row" style="margin-top: 3%; margin-bottom: 3%;">
       
       <div class="col-md-3">
         <img class="rounded-circle" src="/images/dan.jpg" style="width: 48%; opacity: 0.8; border: 3px solid blue; float: right;" />
       </div>
       <div class="col-md-6" style="border-radius: 25px;">
        <p style="color: black; background-color: white; opacity: 0.7; padding: 2%; border-radius: 25px;">
          I am currently coming to the end of an academic journey, completing my BSc (Hons) in Web Technologies & Digital Media after
          receiving a pass with distinction for my FdSc (foundation degree). My passion is web application development, notably by way of this course,
          ASP.NET Core & related technologies. I am currently working on an auto-ethnographic dissertation titled: The challenges learning ASP.NET Core &
          related technologies, in order to construct a full featured web application, from the perspective of an intermediate developer. The application being built
          is called Ballerz and includes a football knowledge base consisting of team profiles and histories, player profiles and histories, manager profiles and 
          histories, countries and leagues. Ballerz also implements football forums where users have a personolised profile page and gain stars for their activity.
          I am extremely proud of my learning path and thankful to find a new passion. I am motivated to succeed, positive and hard-working and prefer a hands-on
          approach to learning, being thrown in at the deep end & finding solutions. I enjoy spending time quietly reflecting on my work and often solve 
          problems during these periods. I am intent on forging a career in .NET development and believe I have the attitude and fundamental skills
          to achieve these goals.
        </p>
       </div>
       <div class="col-md-1">

       </div>
    </div>
    <h2 style="text-align: center; background-color: black; opacity: 0.6; margin-bottom: 3%;">Education</h2>
    <div class="row">
      <div class="col-md-3">
        
      </div>
      <div class="col-md-6" style="background-color: white; opacity: 0.6;">
        <div class="row">
          <div class="col-md-2" style="background-color: blue;">
            <img src="/images/lancaster.png" style="width: 100%; padding-top: 12%;" />
       <img src="/images/b&fc.png" style="width: 100%; " /><br/>
       </div>
       <div class="col-md-10" style="padding: 1.5%;">
         <h2 style="color: black;"><strong>Lancaster University <br/>Blackpool & the Fylde College</strong></h2>
         <h4 style="color: black;">Studying For: BSc (Hons)</h4>
         <h4 style="color: black;">Area of Research: Web Technologies & Digital Media</h4>
         <h4 style="color: black;">From: September 2018 To: June 2019</h4>
         <hr/>
         <h5><strong>Course Modules</strong></h5>
         <ul style="list-style-type:disc;">
        <li class="mods"><strong>Dissertation:</strong> ASP.NET Core - C# - Entity Framework Core - Web Application Development</li> 
        <li class="mods"><strong>Human Computer Interaction</strong></li>
        <li class="mods"><strong>Cyber Psychology</strong></li>
        <li class="mods"><strong>Rich Internet Applications</strong></li>
        <li class="mods"><strong>Entrepeneural Management</strong></li>
         </ul>
       </div>
      </div>
      </div>
      <div class="col-md-1">
        
      </div>

    </div>
    
    <div class="row" style="margin-top: 5%;">
      <div class="col-md-3">
        
      </div>
      <div class="col-md-6" style="background-color: white; opacity: 0.6;">
        <div class="row" >
          <div class="col-md-2" style="background-color: blue;">
            <img src="/images/lancaster.png" style="width: 100%; padding-top: 12%;" />
       <img src="/images/b&fc.png" style="width: 100%; " /><br/>
       </div>
       <div class="col-md-10" style="padding: 1.5%;">
         <h2 style="color: black;"><strong>Lancaster University <br/>Blackpool & the Fylde College</strong></h2>
         <h4 style="color: black;">Studied: FdSc</h4>
         <h4 style="color: black;">Area of Research: Interactive Media Development</h4>
         <h4 style="color: black;">From: September 2016 To: June 2018</h4>
         <h4 style="color: black;">Grade: Distinction</h4>
         <hr/>
         <h5><strong>Year One Modules</strong></h5>
         <ul>
        <li class="mods"><strong>Website Design and Development (HTML, CSS)</strong></li> 
        <li class="mods"><strong>2D Graphics (Adobe Photoshop and Adobe Illustrator)</strong></li>
        <li class="mods"><strong>Developing Extensible Data (MySQL, XML, XSLT, XSD)</strong></li>
        <li class="mods"><strong>Creating Multimedia Content (Adobe Premiere Pro, Adobe After Effects)</strong></li>
        <li class="mods"><strong>Scripting for the Web (jQuery)</strong></li>
         <li class="mods"><strong>Academic and Digital Literacy (Copyright Laws, Monetisation)</strong></li>
         </ul>
         <hr/>
         <h5><strong>Year Two Modules</strong></h5>
              <ul style="list-style-type:disc;">
        <li class="mods"><strong>Dynamic Web Development (Object Oriented ) (ASP.NET, MVC 5, C#, MSSQL, Microsoft Visual Studio)</strong></li> 
        <li class="mods"><strong>Dynamic Web Development (Procedural) (PHP, MySQL, Apache)</strong></li>
        <li class="mods"><strong>Work Based Placement (School Website Re-design)</strong></li>
        <li class="mods"><strong>Developing Motion Content (Adobe Premiere Pro, Adobe After Effects)</strong></li>
        <li class="mods"><strong>Content Management Systems</strong></li>
         <li class="mods"><strong>Digital Media Marketing</strong></li>
         </ul>
       </div>
      </div>
      </div>
      <div class="col-md-1">
        
      </div>

    </div>
        <div class="row" style="margin-top: 5%;">
      <div class="col-md-3">
        
      </div>
      <div class="col-md-6" style="background-color: white; opacity: 0.6;">
        <div class="row" >
          <div class="col-md-2" style="background-color: blue;">
       <img src="/images/fhs.jpeg" style="width: 100%; padding-top: 12%;" /><br/>
       </div>
       <div class="col-md-10" style="padding: 1.5%;">
         <h2 style="color: black;"><strong>Fleetwood High School</strong></h2>
         <h4 style="color: black;">Studied: GCSE</h4>
         <h4 style="color: black;">From: September 1992 To: February 1997</h4>
         <li class="mods"><strong>Grades: English - C, Science - C,C, Mathematics - C</strong></li>
  
       </div>
      </div>
      </div>
      <div class="col-md-1">
        
      </div>

    </div>
    <h2 style="text-align: center; background-color: black; opacity: 0.6; margin-top: 5%;">Employment History</h2>
          
                <div class="row" style="margin-top: 5%;">
      <div class="col-md-3">
        
      </div>
      <div class="col-md-6" style="background-color: white; opacity: 0.6;">
        <div class="row" >
          <div class="col-md-2" style="background-color: #26efec;">
       <img src="/images/bts.jpg" style="width: 100%; padding-top: 12%;" /><br/>
       </div>
       <div class="col-md-10" style="padding: 1.5%;">
         <h2 style="color: black;"><strong>Blackpool Transport Services</strong></h2>
         <h4 style="color: black;">Position: PCV Driver & Tram Driver</h4>
         <h4 style="color: black;">From: July 2008 To: August 2016</h4>
         <hr/>
         <h5><strong>Duties</strong></h5>
          <li class="mods"><strong>Providing a safe, comfortable and pleasant experience for passengers</strong></li> 
        <li class="mods"><strong>Performing strict checks, to ensure vehicles are roadworthy</strong></li>
        <li class="mods"><strong>Promoting disability awareness and providing appropriate assistance to disabled passengers</strong></li>
        <li class="mods"><strong>Becoming proficient in the rules of the tramway</strong></li>
        <li class="mods"><strong>Demonstrate a calm evacuation process & tramcar isolation, in case of an electrical fire </strong></li>
         
  
       </div>
      </div>
      </div>
      <div class="col-md-1">
        
      </div>

    </div>
   
     <div class="row" style="margin-top: 5%;">
      <div class="col-md-3">
        
      </div>
      <div class="col-md-6" style="background-color: white; opacity: 0.6;">
        <div class="row" >
          <div class="col-md-2" style="background-color: #26efec;">
            <div style="margin-top: 12%; background-color: black; width: 100%;">
       <img src="/images/affordable.png" style="width: 100%; padding: 2%;" /><br/>
       </div>
       </div>
       <div class="col-md-10" style="padding: 1.5%;">
         <h2 style="color: black;"><strong>Affordable Window Systems</strong></h2>
         <h4 style="color: black;">Position: Loading Dock</h4>
         <h4 style="color: black;">From: August 2006 To: June 2008</h4>
         <hr/>
         <h5><strong>Duties</strong></h5>
        <li class="mods"><strong>Loading trucks with large orders of uPVC windows, doors, conservatories and glass units</strong></li> 
        <li class="mods"><strong>Maintaining relations with production staff to ensure deadlines are met and products are dispatched on time  </strong></li>
        <li class="mods"><strong>Updating paperwork to match the order status</strong></li>
       
  
       </div>
      </div>
      </div>
      <div class="col-md-1">
        
      </div>

    </div>
     <div class="row" style="margin-top: 5%;">
      <div class="col-md-3">
        
      </div>
      <div class="col-md-6" style="background-color: white; opacity: 0.6;">
        <div class="row" >
          <div class="col-md-2" style="background-color: #26efec;">
       <img src="/images/mbp.png" style="width: 100%; padding-top: 12%;" /><br/>
       </div>
       <div class="col-md-10" style="padding: 1.5%;">
         <h2 style="color: black;"><strong>Martin Brown Paints</strong></h2>
         <h4 style="color: black;">Position: Automotive Paint Technician</h4>
         <h4 style="color: black;">From: March 1997 To: August 2006</h4>
         <hr/>
         <h5><strong>Duties</strong></h5>
         <li class="mods"><strong>Mixing paint for vehicles to a strict formula</strong></li> 
         <li class="mods"><strong>Providing technical advice and product recommendations to trade counter customers</strong></li> 
        <li class="mods"><strong>Delivery driver / Sales rep (Lancashire) Forming relations with customers and ensuring their satisfaction</strong></li>
        <li class="mods"><strong>Delivery driver / Sales rep (Cumbria) Forming relations with customers and ensuring their satisfaction</strong></li>
        <li class="mods"><strong>Installation of paint mixing schemes into accident repair centres</strong></li>
         
  
       </div>
      </div>
      </div>
      <div class="col-md-1">
        
      </div>

    </div>
  
    <h2 style="text-align: center; background-color: black; opacity: 0.6; margin-top: 5%; margin-bottom: 3%;">Certificates</h2>
      <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3 text-center">
   
      </div>
      <div class="col-md-3">
        <img src="/images/DanCert.jpg" style="width: 60%;" />
        <p>FdSc - Foundation Degree</p>
      </div>
      <div class="col-md-3 text-center">
        
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3 text-center">
        <img src="/images/mva1.png" style="width: 100%;" />
        <p>MVA - ASP.NET Core - Beginner</p>
      </div>
      <div class="col-md-3 text-center">
        <img src="/images/mva2.png" style="width: 100%;" />
        <p>MVA - ASP.NET Core - Intermediate</p>
      </div>
      <div class="col-md-3 text-center">
        <img src="/images/mva3.png" style="width: 100%;" />
        <p>MVA - ASP.NET Core - Advanced</p>
      </div>
    </div>
</div>