  

  <div class="container-fluid body-content">
        <nav class="navbar navbar-expand-sm bg-transparent navbar-fixed-top">

  <!-- Links -->
  <ul class="navbar-nav navbar-right" style="float: right;">
    <li class="nav-item">
      <a asp-controller="Home" asp-action="Index" class="nav-link" title="Home"> <i class="fas fa-home"></i></a>
    </li>
   <li class="nav-item">
        <a asp-controller="Projects" asp-action="Index" class="nav-link" title="Projects"><i class="fas fa-sitemap"></i></a>
          </li>
       <li class="nav-item">
        <a asp-controller="Blog" asp-action="Index" class="nav-link" title="Blog"><i class="fas fa-blog"></i></a>
          </li>
                <li class="nav-item">
        <a asp-controller="Home" asp-action="Contact" class="nav-link" title="Contact"> <i class="fas fa-fax"></i></a>
          </li>
  </ul>

</nav>
  <div class="row">
  <div class="col-md-6 text-center">

<div id="details" class="wow fadeIn" data-wow-duration="2.5s" data-wow-delay="1s">
  <img class="rounded-circle" src="images/dan.jpg" style="width: 25%; margin-top: 10%; opacity: 0.6;" alt="">
  
<h1 class="detail"  style="font-size: 60px;">danielmoorhouse</h1>
<h3 class="detail" style="font-size: 40px">
<img src="images/github.png" title="My Github Repositories" style="width: 50px; padding-right: 1%;" alt="">
<i class="fab fa-linkedin" style="font-size:45px; padding: 1%;"></i>


</h3>
</div>
</div>
<div class="col-md-6">
  <h3 class="detail wow fadeIn" data-wow-duration="1s" data-wow-delay="3.5s" style="font-size: 40px; padding-top: 8em; float: right;
          padding-right: 3em;">
    ASP.NET Core Web App Development 
  </h3>
  <h3 class="detail wow fadeIn" data-wow-duration="1s" data-wow-delay="3.7s" style="font-size: 40px; float: right;
        padding-right: 3em;">
    Database Design & Development
  </h3>
  <h3 class="detail wow fadeIn" data-wow-duration="1s" data-wow-delay="3.9s" style="font-size: 40px; float: right;
  padding-right: 3em;">
    Website Design & Development
  </h3>
  <h3 class="detail wow fadeIn" data-wow-duration="1s" data-wow-delay="4.1s" style="font-size: 40px; float: right;
        padding-right: 3em;">
    Website Re-design & Updates
  </h3>
</div>

</div>



